// _colors.scss
$color-primary: rgba(11, 15, 245, 0.74);
$color-primary-hover: rgba(8, 11, 189, 0.85);
$color-primary-focus: rgba(11, 15, 245, 0.9);

$color-primary-border: rgba(77, 154, 237, 0.72);
$color-primary-disabled-bg: #c0c0c0;
$color-primary-disabled-color: #6c757d;

$color-secondary: #6c757d;

$color-danger: #f7f43a;
$color-error: #dc3545;

$color-disabled-bg: #f5f5f5;
$color-disabled-border: #dcdcdc;

$color-text: #333;
$color-placeholder: #888;
